
body{
    background-color: rgb(39, 35, 35);
    margin: auto;
    padding: auto;
}


/* FIRST PAGE PICTURE */ 

.my-picture{
    background-attachment: fixed;
    text-align: center;
    background-color: brown;
    border:none;
    overflow: hidden;
    position: relative;
    background-image: url(../images/Other/extendedresumepic.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100%;
}

.overlay-text h1{
    font-size: 80px;
}


.overlay-text button{
    width: 200px;
    height: 50px;
    font-size: 15px;
    border: none;
    border-radius: 5%;
    transition: .5s;
    font-style: italic;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.overlay-text button:hover{
    cursor: pointer;
    filter: invert(1);
    width: 150px;
    height: 40px;
    transition: .3s;
}

.overlay-text p, .overlay-text h1{
    margin: 0px;
    padding: 0px;
}

.overlay-text{
  position: absolute;
  top: 45%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  background-color: none;
  color: white;
  padding: 10px 20px; 
  font-size: 20px; 
  text-align: center;

  padding-left: 1000px;
  width: 1000px;
  font-family: 'Lato', sans-serif;
  
}


/*About Me*/

.flex-all{
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 100px;
    margin: 0 auto;
}


.resume{
    font-size: larger;
    width: fit-content;
    border: 1px white solid;
    padding: 10px;
    color: white;
    text-decoration: none;
    margin-top: 20px;
    transition: .4s;
}

.resume:hover{
    transition: .4s;
    background-color: rgb(31, 30, 30);
}

.About-me-Headers{
    padding-top: 40px;
    display:block;
    color: white;
    text-align: center;

}

.AboutMe{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: fit-content;
    justify-content: space-evenly;
    align-content: space-around;
    gap: 100px;
    align-content: center;
    justify-content: center;

}

.infolist {
    display: flex;
    flex-direction: column;
    color: white; 
    width: fit-content;
    font-size: 15px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.infolist p{
    border-bottom: 1px solid #ccc;
}

.infolist p b{
    font-size: 17px;
}

.flex-row{
    display: flex;
    gap: 100px;
    margin-bottom: -50px;
    margin-left: 100px;
}

.Description {
    display: flex;
    flex-direction: column;
    width: 450px;
    height: fit-content;
    color: white;
   font-size: 15px;
   font-family:Georgia, 'Times New Roman', Times, serif;
   padding-top: 11px;
}

.Skills{
    padding: 25px 0;
    width: 100%;
    background-color: rgb(35, 32, 32, 0.7);
    margin-top: 0px;
    color: white;
    text-align: center;
    font-size: 15px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin: 0 auto;
    margin-bottom: -15px;
}

.technicals img{
    width: 100px;
    height: 100%;
    margin-top: -50px;
    margin-left: -5px;
}

.technicals{
    margin-top: -40px;
    padding-bottom: 26px;
}


/*Education*/

.Education{
    padding-top: 50px;
    background-color: rgb(224, 224, 224);
    text-align: center;  
    font-family:Georgia, 'Times New Roman', Times, serif;
    height: fit-content;
    padding-bottom: 50px;
}

.education-format{
    margin: 0 auto;
    height: fit-content;
    width: 800px;
    box-shadow: 4px 4px 10px black;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    transition: 0.6s;
}


.education-description-box{
    background-color: rgb(219, 219, 219);
    display: flex;
    justify-content: center;
}


.schools img{
    width: 800px;
    height: 500px;
    margin-bottom: -6px;
}

.school-text{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 800px;
    height: fit-content;
    text-align: left;
   flex: 1;
  
}

.education-divider{
    height: 150px;
    width: 1px;
    background-color: rgb(63, 62, 62);
    margin-top: 25px;
    margin-right: 20px;
}

.school-courses{
flex: 1;
}

.school-courses p{
    padding: 20px;
    font-size: 17px;
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.school-text p{
    padding-left: 30px;
}


.school-name{
    font-size: 35px;
    font-style: bold;
    margin-top: 20px;
    margin-bottom: 10px;
}

.school-degree-major{
    font-size: 15px;
    font-style: italic;
}

.school-year{
 font-size: 20px;
 font-style: bold;
}

.school-department{
    font-size: 15px;
}

    
/*Experience*/

.Experience{
    padding-top: 50px;
    color: white;
    height: fit-content;
    background-color: rgb(39, 35, 35);
    margin-bottom: 100px;
}

.Jobs{
    border: 1px white solid;
    padding: 30px;
    width: 1000px;
    height: 300px;
}

.Jobs p{
    text-align: center;
    font-size: 20px;
}

.experience-separator{
    background-color: white;
    width: 1px;
    height: 50px;
}
.Experience h1{
    text-align: center;
    
}

.experience-text{
display: flex;
flex-direction: column;
align-items: center;
}

.experience-position{
    font-style: bold;
    font-size: 30px;
}

.experience-date{
    color: rgb(194, 194, 194);
    font-style: italic;
    margin-top: -20px;
}

ul li{
    font-size: 20px;
}


/*Projects*/

.Projects h1{
    font-size: 30px;
    color: white;
}

.Projects{
    cursor: url(../cursors/galacticpointer.cur), auto;
    padding-top: 50px;
    text-align: center;
    background-color: transparent;
    height: fit-content;
    background-image: url(../images/Other/blurred-technology.jpg);
    background-attachment: fixed;
    background-color: white;
    padding-bottom: 81px;
}

.Projects * {
    cursor: url(../cursors/galacticpointer.cur), auto;
}


/*Contact*/

.Contact{
    background-color: rgb(39, 35, 35);
    color: white;
    height: fit-content;
}

.Contact h1{
    text-align: center;
}

.contact-flexbox{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 500px;
    justify-content: center;
    margin: 0 auto;
    gap: 10px;
}

.contact-message::placeholder{
    
    line-height: normal;
      }
  

.contact-name{
    width: 237px;
    height: 22px;
    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.contact-email{
    width: 237px;
    height: 22px;
    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.contact-subject{
    width: 500px;
    height: 22px;
    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.contact-message{
    width: 500px;
    height: 300px;
    padding-top: 10px; 
    box-sizing: border-box; 
    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: normal;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.contact-message::placeholder{
   line-height: normal;
}

.contact-flexbox button{
    width: 100px;
    height: 30px;
    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: none;
    transition: .3s;
}

.contact-flexbox button:hover{
    background-color: rgb(212, 212, 212);
    transition: .3s;
    cursor: pointer;
}

.contact-info{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    position: relative;
    left: 50%;
    top: 10px;
    transform: translate(-50%, -50%);
}


/*Footer*/

footer{
    background-color: rgb(54, 49, 49);
    text-align: center;
    font-size: 10px;
    color: white;
    height: 25px;
}



