
.icon-span{
    display: inline-block;
    color: white;
    font-size: 40px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 20%;
    width: inherit;
    height: inherit;
    z-index: 1;
    opacity: 0;
    transition: .3s;
}

.icon-span p{
    color: white;
    padding-top: 70px;
    font-style: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

.icon-span:hover{
    opacity: 1;
    transition: .3s;
}
 
.icons{ 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 26px;
}

.icons a{
  
    height: 300px;
    width: 300px;
    border-radius: 20%;
    box-sizing: border-box;
    margin: 30px;
}

.icons a img{
    border-radius: 20%;
    box-shadow: 4px 4px 10px black;
    width: 100%;
    height: 100%;
    transition: 0.6s;
    z-index: 0;
    margin-bottom: -304px;
}

.background-dark{
    display: none;
  opacity: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 0, 0.5);
    z-index: 2;
    top: 0px;
    position: fixed;
    transition: 0.3s ease;
}

.project-details-container{
width: 600px;
height: 600px;
background-color: rgba(255, 255, 255, 0);
position: relative;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);
border-radius: 10px;
}


.project-details-container button{
    position:relative;
    top: 82%;
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 10px;
    z-index: 2;
    font-size: 25px;
    transition: .2s;
}

.project-details-container button:hover{
    color: rgb(231, 77, 77);
    transition: .2s;
}

.popup-text{
    font-size: 20px;
    color: black;
    z-index: 1;
}

.popup-text div{
    opacity: 0;
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    z-index: 1;
}

.popup-text div h1{
    color: black;
    margin-bottom: 50px;
    z-index: 1;
}

.popup-text div p{
    margin-top: 400px;
    background-color: rgb(255, 255, 255);
    border: 1px black solid;
    border-radius: 10px;
    font-size: 25px;
    width: 500px;
    height: 400px;
    
}

.popup-text div a{
    color: black;
    font-size: 25px;
    z-index: 1;
    background-color: rgb(255, 255, 255);
    border: 1px black solid;
    transition: .2s;
    border-radius: 10px;
    text-decoration: none;
    padding: 5px;
    transition: .2s;
}

.popup-text div a:hover{
    color: rgb(33, 33, 255);
    transition: .2s;
    
}