body{
    background-color: rgb(39, 35, 35);
    margin: auto;
    padding: auto;
}

/* FIRST PAGE PICTURE */ 

.my-picture{
    text-align: center;
    background-color: brown;
    border:none;
    overflow: hidden;
    position: relative;
    background-image: url(myimages/Other/fatasian.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100%;
}

.overlay-text h1{
    font-size: 80px;
    
}



.overlay-text button{
    position: absolute;
    top: 600%;
    left: 50%;
    transform: translate(-50%, -50%); 
    width: 50px; 
    height: 50px; 
    border-radius: 50%; 
    background-color: whitesmoke; 
    border: none; 
    color: black; 
    font-size: 30px; 
    display: flex;
    align-items: center;            
    justify-content: center; 
    cursor: pointer; 
    transition: background-color 0.5s;
} 

.overlay-text button:before {
    content: "⇩"; 
    font-size: 30px; 
}

.overlay-text button:hover {
    background-color: rgb(206, 206, 206); 
}

.overlay-text p, .overlay-text h1{
    margin: 0px;
    padding: 0px;
}




.overlay-text{
  position: absolute;
  top: 10%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  background-color: none;
  color: white;
  padding: 10px 20px; 
  font-size: 20px; 
  text-align: center;
}

/*About Me*/

.About-me-Headers{
    display:block;
    color: white;
    text-align: center;
    margin-bottom: 150px;
}

.AboutMe{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: fit-content;
    justify-content: space-evenly;
    align-content: space-around;
    
}


.infolist {
    display: flex;
    flex-direction: column;
    color: white; 
    width: fit-content;
    font-size: 15px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.infolist p{
    border-bottom: 1px solid #ccc;
}

.infolist p b{
    font-size: 17px;
}

.Description {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 400px;
    color: white;
   font-size: 15px;
   font-family:Georgia, 'Times New Roman', Times, serif;
   margin-left: -100px;
   margin-right: -100px;
}

.Skills{
    color: white;
    text-align: center;
    width: 500px;
    font-size: 15px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.about-icons{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
   
    
    
}

/*find out how to make background of icons transparent*/
.about-icons a img{
    display: inline-block;
    border-radius: 50%;
    text-decoration: none;
    width: 40px;
    height: 40px;
    
}

.about-icons a img:hover{
    filter: invert(1); /* This inverts the colors, turning black to white and white to black */
    transition: 0.6s;
    
}



/*Education*/

.Education{
    background-color: rgba(224, 224, 224, 0.925);
    text-align: center;
    height: fit-content;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.Education img{
    width: 700px;
    height: 400px;
    
}



/*Experience*/

.Experience{
    color: white;
    text-align: center;
    height: 1000px;
}

/*Projects*/

.Projects h1{
    font-size: 30px;
}
.Projects{
    text-align: center;
    background-color: rgba(224, 224, 224, 0.925);
    height: fit-content;
}

.icons{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}

.icons a img{
    border-radius: 20%;
    box-shadow: 4px 4px 10px black;
    height: 300px;
    width: 300px;
    margin: 50px;
}



/*Contact*/

.Contact{
    background-color: rgb(39, 35, 35);
    color: white;
    height: 600px;
}

.Contact form{
    display: flex;
    flex-direction: column;
    align-content: space-between;
    gap: 20px;
}


.contact-message{
    font-size: large;
    height: 200px;
    width: 20%;
    line-height: 200px; /*wtf this isn't working fix it later*/
}



.contact-rowflexitems{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 20px;
    width: 25%;
    
}

.contact-name{
    font-size: large;
    height: 22px;
}

.contact-email{
    font-size: large;
    height: 22px;
}

.contact-subject{
    font-size: large;
    width: 20%;
    height: 25px;
}

.Contact button{
    width: 100px;
}


/*Footer*/
footer{
    background-color: rgb(54, 49, 49);
    text-align: center;
    font-size: 10px;
    color: white;
}

/*Navigation Menu*/
.Nav-menu{
position: sticky;
top: 0;

color: white;
display:flex;
flex-direction: row;
justify-content: center;
gap: 50px;
padding-left: 100px;
padding-right: 100px;
font-size: 10px;
background-color: rgb(49, 48, 48);
}

html {
    scroll-behavior: smooth;
  }


.Nav-menu a{
    color:white;
    text-decoration: none;
    
   
}


.Nav-menu a:hover{
    
    color: rgba(255, 255, 255, 0.705);
    transition: 0.3s;
}


 /*color: rgba(255, 255, 255, 0.719);*/