
body{
    background-color: rgb(39, 35, 35);
    margin: auto;
    padding: auto;
}



/* FIRST PAGE PICTURE */ 


.my-picture{
    background-attachment: fixed;
    text-align: center;
    background-color: brown;
    border:none;
    overflow: hidden;
    position: relative;
    background-image: url(myimages/Other/extendedresumepic.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100%;
}

.overlay-text h1{
    font-size: 80px;
}


.overlay-text button{
    width: 200px;
    height: 50px;
    font-size: 15px;
    border: none;
    border-radius: 5%;
    transition: .5s;
    font-style: italic;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.overlay-text button:hover{
    cursor: pointer;
    filter: invert(1);
    width: 150px;
    height: 40px;
    transition: .3s;
}


/*hiding arrow button for now

.overlay-text button{
    position: absolute;
    top: 300%;
    left: 50%;
    transform: translate(-50%, -50%); 
    width: 50px; 
    height: 50px; 
    border-radius: 50%; 
    background-color: whitesmoke; 
    border: none; 
    color: black; 
    font-size: 30px; 
    display: flex;
    align-items: center;            
    justify-content: center; 
    cursor: pointer; 
    transition: background-color 0.5s;
} 

.overlay-text button:before {
    content: "⇩"; 
    font-size: 30px; 
}

.overlay-text button:hover {
    background-color: rgb(206, 206, 206); 
} */

.overlay-text p, .overlay-text h1{
    margin: 0px;
    padding: 0px;
}

.overlay-text{
  position: absolute;
  top: 45%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  background-color: none;
  color: white;
  padding: 10px 20px; 
  font-size: 20px; 
  text-align: center;

  padding-left: 1000px;
  width: 1000px;
  font-family: 'Lato', sans-serif;
  
}

/*About Me*/

.About-me-Headers{
    padding-top: 50px;
    display:block;
    color: white;
    text-align: center;
    margin-bottom: 150px;
}

.AboutMe{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: fit-content;
    justify-content: space-evenly;
    align-content: space-around;
}

.technicals img{
    width: 100px;
    height: 100%;
}


.infolist {
    display: flex;
    flex-direction: column;
    color: white; 
    width: fit-content;
    font-size: 15px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.infolist p{
    border-bottom: 1px solid #ccc;
}

.infolist p b{
    font-size: 17px;
}

.Description {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 400px;
    color: white;
   font-size: 15px;
   font-family:Georgia, 'Times New Roman', Times, serif;
   margin-left: -100px;
   margin-right: -100px;
}

.Skills{
    color: white;
    text-align: center;
    width: 500px;
    font-size: 15px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.about-icons{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}



/*find out how to make background of icons transparent*/
.about-icons a img{
    display: inline-block;
    border-radius: 50%;
    text-decoration: none;
    width: 40px;
    height: 40px;
    transition: .6s;
    padding: 30px;
}

.about-icons a img:hover{
    filter: invert(1);
    transform: scale(1.2);
}

/*Education*/

.Education{
    padding-top: 75px;
    background-color: rgb(224, 224, 224);
    text-align: center;  
    font-family:Georgia, 'Times New Roman', Times, serif;
    height: fit-content;
    padding-bottom: 50px;
}

.education-format{
    margin: 0 auto;
    height: fit-content;
    width: 800px;
    box-shadow: 4px 4px 10px black;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    transition: 0.6s;
}



.education-description-box{
    background-color: rgb(219, 219, 219);
    display: flex;
    justify-content: center;
}


.schools img{
    width: 800px;
    height: 500px;
    margin-bottom: -6px;
}

.school-text{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 800px;
    height: fit-content;
    text-align: left;
   flex: 1;
  
}

.education-divider{
    height: 150px;
    width: 1px;
    background-color: rgb(63, 62, 62);
    margin-top: 25px;
    margin-right: 20px;
}

.school-courses{
flex: 1;
}

.school-courses p{
    padding: 20px;
    font-size: 17px;
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.school-text p{
    padding-left: 30px;
}


.school-name{
    font-size: 35px;
    font-style: bold;
}

.school-degree-major{
    font-size: 15px;
    font-style: italic;
}

.school-year{
 font-size: 20px;
 font-style: bold;
}

.school-department{
    font-size: 15px;
}

    






/*Experience*/

.Experience{
    padding-top: 50px;
    color: white;
    height: fit-content;
    background-color: rgb(39, 35, 35);
    margin-bottom: 100px;
}

.Jobs{
    border: 1px white solid;
    padding: 30px;
    width: 1000px;
    height: 300px;
}

.Jobs p{
    text-align: center;
    font-size: 20px;
}

.experience-separator{
    background-color: white;
    width: 1px;
    height: 50px;
}
.Experience h1{
    text-align: center;
    
}

.experience-text{
display: flex;
flex-direction: column;
align-items: center;
}

.experience-position{
    font-style: bold;
    font-size: 30px;
}

.experience-date{
    color: rgb(194, 194, 194);
    font-style: italic;
    margin-top: -20px;
}

ul li{
    font-size: 20px;
}


/*Projects*/

/* MAKE THE CONTENT ON THE PAGE ABSOLUTE NOT THE FUCKING BACKGROUND YOU DUMBASS DO IT LIKE YOUR HOME PAGE */
.Projects h1{
    font-size: 30px;
    color: white;
}

.Projects{
    cursor: url(myimages/Other/galacticpointer.cur), auto;
    padding-top: 50px;
    text-align: center;
    background-color: transparent;
    height: fit-content;
    background-image: url(myimages/Other/blurred-technology.jpg);
    background-attachment: fixed;
    background-color: white;
    padding-bottom: 50px;
}

.Projects * {
    cursor: url(myimages/Other/galacticpointer.cur), auto;
}

.icon-span{
    display: inline-block;
    color: white;
    font-size: 40px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 20%;
    width: inherit;
    height: inherit;
    z-index: 1;
    opacity: 0;
    transition: .3s;
}

.icon-span p{
    color: white;
    padding-top: 70px;
    font-style: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

.icon-span:hover{
    opacity: 1;
    transition: .3s;
}
 
.icons{ 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 26px;
}

.icons a{
  
    height: 300px;
    width: 300px;
    border-radius: 20%;
    box-sizing: border-box;
    margin: 30px;
}

.icons a img{
    border-radius: 20%;
    box-shadow: 4px 4px 10px black;
    width: 100%;
    height: 100%;
    transition: 0.6s;
    z-index: 0;
    margin-bottom: -304px;
}

.background-dark{
    display: none;
  opacity: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 0, 0.5);
    z-index: 2;
    top: 0px;
    position: fixed;
    transition: 0.3s ease;
}

.project-details-container{
width: 600px;
height: 600px;
background-color: rgba(255, 255, 255, 0);
position: relative;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);
border-radius: 10px;
}


.project-details-container button{
    position:relative;
    top: 82%;
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 10px;
    z-index: 2;
    font-size: 25px;
    transition: .2s;
}

.project-details-container button:hover{
    color: rgb(231, 77, 77);
    transition: .2s;
}

.popup-text{
    font-size: 20px;
    color: black;
    z-index: 1;
}

.popup-text div{
    opacity: 0;
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    z-index: 1;
}

.popup-text div h1{
    color: black;
    margin-bottom: 50px;
    z-index: 1;
}

.popup-text div p{
    margin-top: 280px;
    background-color: rgb(255, 255, 255, .95);
    border-radius: 10px;
    font-size: 25px;
    width: 500px;
    height: 250px;
}

.popup-text div a{
    color: black;
    font-size: 25px;
    z-index: 1;
    background-color: rgb(255, 255, 255, 0.95);
    transition: .2s;
    border-radius: 10px;
    text-decoration: none;
    padding: 5px;
    transition: .2s;
}

.popup-text div a:hover{
    color: rgb(33, 33, 255);
    transition: .2s;
}

/*
.image-blur{
    position: absolute;
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 1);
    background-attachment: fixed;
    background-image: url('myimages/Other/background-realistic-abstract-technology-particle_23-2148431735.avif');
  width: 100%;
  height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    filter: blur(3px);
}
    */

/*
.blurr {
    position: absolute;
    top: 0;
    left: 0;
   height: 500px;
   width: 500px;
    background-image: url('myimages/Other/background-realistic-abstract-technology-particle_23-2148431735.avif'); 
    background-size: cover;
    background-position: center;
    filter: blur(8px); 
    z-index: -1; 
  } */




/*Contact*/

.Contact{
    background-color: rgb(39, 35, 35);
    color: white;
    height: fit-content;
}

.Contact h1{
    text-align: center;
}

.contact-flexbox{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 500px;
    justify-content: center;
    margin: 0 auto;
    gap: 10px;
}

.contact-message::placeholder{
    
    line-height: normal;
      }
  

.contact-name{
    width: 237px;
    height: 22px;
    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.contact-email{
    width: 237px;
    height: 22px;
    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.contact-subject{
    width: 500px;
    height: 22px;
    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.contact-message{
    width: 500px;
    height: 300px;
    padding-top: 10px; /* Adjust as needed */
    box-sizing: border-box; /* Ensures padding is included in height */
    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.contact-flexbox input::-webkit-input-placeholder {
    line-height: normal; /* Adjust as necessary */
}

.contact-flexbox button{
    width: 100px;
    height: 30px;
    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: none;
    transition: .3s;
}

.contact-flexbox button:hover{
    background-color: rgb(212, 212, 212);
    transition: .3s;
    cursor: pointer;
}


/*Footer*/
footer{
    background-color: rgb(54, 49, 49);
    text-align: center;
    font-size: 10px;
    color: white;
}

/*Navigation Menu*/
.Nav-menu{
top: 0px;

color: white;
display: flex;
justify-content: center; /*no longer works when position is fixed*/
gap: 50px;
left: 50%;
top: 25px;
transform: translate(-50%, -50%);
font-size: 10px;
background-color: rgb(49, 48, 48, .3);
width: 100%;
position: fixed;
z-index: 2;
}

html {
    scroll-behavior: smooth;
  }

.Nav-menu a{
    color:white;
    text-decoration: none;
    
   
}


.Nav-menu a:hover{
    
    color: rgba(255, 255, 255, 0.705);
    transition: 0.3s;
}


 /*color: rgba(255, 255, 255, 0.719);*/